@model IEnumerable<ApprovalPortal.Models.Masters>

@{
    ViewBag.Title = "IndexFiscalYear";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h2> Fiscal Year</h2>

<p>
    @Html.ActionLink("Create New", "AddEditFiscalYear")
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.Label("Fiscal Year")
            </th>
            <th>
                @Html.Label("Active")
            </th>

            <th>
                @Html.Label("Created By")
            </th>
            <th>
                @Html.Label("Created On")
            </th>

            <th>
                @Html.Label("Updated By")
            </th>
            <th>
                @Html.Label("Updated On")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.ID)
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedByName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedOn)
                </td>
                <td>
                    @Html.ActionLink("Edit", "AddEditFiscalYear", new {  ID=item.ID  })
                    @*| @Html.ActionLink("Delete", "Delete", new { FY_ID = item.FY_ID })*@
                </td>
            </tr>
        }
    </tbody>
</table>
