@model ApprovalPortal.Models.ApprovalHeader


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

@{
    ViewBag.Title = "ShowApprovalForCreator";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlFinalEmailList").selectize();
        //$("#btnDeleteFile").hide();
        $('#tblUploadedFiles tr').find('th:last, td:last').remove();
    });

    function ValidateData() {
        var selectedAction = $('input[name=ApproverAction]:checked').val()

        if (selectedAction == 2) {
            var cnf2 = confirm("Are you sure you want to Reject the Approval?");
            if (cnf2 == false) {
                return false;
            }
        }

        //alert($('#ddlFinalEmailList').val());

        if ($('#ddlFinalEmailList').val() == null) {
            alert('Please Select Final Email List.');
            return false;
        }
        if ($('#txtRemark').val() == "") {
            alert('Please Enter Remarks.');
            return false;
        }

        if (typeof (selectedAction) === "undefined") {
            alert('Please Select Action.');
            return false;
        }
        ShowLoader();
        return true;
        // return false;
    }


</script>

<div class="container" style="font-family: Calibri;">
    @using (Html.BeginForm("ApproveFromCreator", "Approval", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @*<h4 class="breadcrumb" style="font-family: Calibri; font-size:smaller;"><a style="text-decoration: none" href="@Url.Action("Index", "Approval")">Home</a> &raquo;<a style="text-decoration: none" href="@Url.Action("Index", "Approver")">Request</a> &raquo; My Requests   </h4>*@
        <h4>   </h4>
        @Html.ValidationSummary(true)
        <fieldset>

            <div class=" form-group col-md-2" style="margin-right:0px;">

            </div>
            <div id="divFactsheetForPrint">@Html.Partial("_VwApprovalDataRO", @Model)</div>
            <button type="button" onclick="generate()" style="display:none;">Generate PDF</button>
            @Html.HiddenFor(x => x.APP_PendingWith)
            @if (Model.IsActionable)
            {
                <div class="navbar-collapse" style="padding-left: 1px !important; width: 946px !important;">
                    <table class="table-condensed table-striped table-hover dataTable responsive nowrap table-bordered">
                        <tr>
                            <th colspan="2" class="TableHeader" style="width: 60%; padding: .75rem; vertical-align: top; padding-left:20px;">
                                Creator Section

                            </th>

                        </tr>
                        <tr>
                            <td style="width: 20%; vertical-align: top; padding-left: 10px">
                                Action<span style="color:red">*</span>
                            </td>
                            <td style="width:80%">
                                <table>
                                    <tr>
                                        <td style="width:60%">
                                            <table>
                                                <tr>
                                                    <td style="padding:10px">Reply @Html.RadioButtonFor(model => model.ApproverAction, 1, new { onclick = "AppoverAction(this);" })</td>
                                                    <td style="padding:10px">Reject @Html.RadioButtonFor(model => model.ApproverAction, 2, new { onclick = "AppoverAction(this);" })</td>
                                                    @Html.ValidationMessageFor(model => model.ApproverAction, null, new { @class = "text-danger" })

                                                </tr>
                                            </table>
                                            <div>
                                                @*@Html.DropDownListFor(m => m.ApproverAction, new SelectList(ViewBag.ActionMaster, "Value", "Text", null), new { id = "ddlActionMaster", @class = "form-control", onchange = "AppoverAction(this);", style = "width: 200px;" })*@
                                            </div>
                                        </td>

                                    </tr>
                                </table>

                            </td>
                        </tr>
                        <tr>
                            <td style="width:10%; padding-left:10px">
                                Remarks<span style="color:red">*</span>
                            </td>
                            <td style="width:90%">
                                <div style="width:60%">
                                    @Html.TextAreaFor(m => m.ApproverRemarks, new { id = "txtRemark", maxlength = 250, @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ApproverRemarks, null, new { @class = "text-danger" })
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:10%; padding-left:10px">
                                Final Email List<span style="color:red">*</span>
                            </td>
                            <td style="width:90%">
                                <div style="width:60%">
                                    @*@Html.DropDownListFor(m => m.SelectedaFinalEmailUsers_Entry, new SelectList(ViewBag.FinalEmailList, "Value", "Text", null), "Select", new { id = "ddlFinalEmailList", @class = "form-control", @multiple = "multiple", @style = "width:100%;" })*@
                                    @Html.ListBoxFor(m => m.SelectedaFinalEmailUsers_Entry, new SelectList(ViewBag.FinalEmailList, "Value", "Text", null), new { id = "ddlFinalEmailList", @class = "form-control", @multiple = "multiple", @style = "width:100%;" })

                                    @Html.ValidationMessageFor(model => model.APP_ELId, null, new { @class = "text-danger" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="width:80%">
                                <table style="width:40%">
                                    <tr>
                                        <td><input class="btn btn-primary1" value="Submit" name="command" type="submit" id="btnSubmit" onclick="return ValidateData();" /></td>
                                        <td>
                                            @Html.ActionLink("Edit Approval Data?", "Create", "Approval",
                                            new
                                             {
                                                 app_id = Model.APP_ID,
                                                 IsActionable = Model.IsActionable
                                             },
                                             new { @class = "fas fa-edit" }
                                             )
                                        </td>
                                    </tr>
                                </table>
                            </td>
                           
                            
                        </tr>
                    </table>
                </div>
            }


        </fieldset>


    }
</div>
<div>

    @Html.ActionLink(
            "Back to Pending List",
            "ViewRequests",
            "Approval",
            routeValues: new
            {
                ReqType = "Pending",
            },
    htmlAttributes: null
)
</div>